@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@8..144,100..1000&display=swap');
@import "tailwindcss";

:root{
  --font-primary-text:'Google Sans Flex', sans-serif;
  --font-primary-color: black;
  --first-color:#f4eeea;
  --second-color:#d47f5b;
  --color-white: #ffffff;
  --color-sombra:#d47f5b4a;
  --color-partes:#f4eeea;
}

body{
    font-family: var(--font-primary-text);
    color: var(--font-primary-color);
    font-size: 18px;
    background-color: var(--first-color)
}

.categoria-hover:hover{
  color: var(--color-white);
  background-color: var(--second-color);
}